h1 {
    background-color: blue;
    color: white;
    text-align: center;
}


#search-history {
    border-style: solid;
    position: relative;
    height: 200px;
}

button.saved-city {
    display: block;
    margin: 0;
    width: 25%;
    max-width: 50%; 
}

#current-weather {
    border-style: solid;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#forecast {
    border-style: solid;
    height: 200px;
}

/*add media queries for cards so they stack on top of each other when screen is small*/

@media screen and (max-width: 480px) {
    #container  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 481px) {
    #container {
        width: 50%;
    }
}